In [71]:
import statsmodels.api as sm
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.preprocessing import scale

import researchpy as rp
from scipy import stats

In [29]:
data = pd.read_csv('lego_final_data.csv')
data.shape # what does our data look like?

(199878, 22)

In [30]:
data.head()

,Record ID,number,numberVariant,name,year,theme,themeGroup,subtheme,category,released,...,packagingType,availability,instructionsCount,minAge,maxAge,tags,lastUpdated,US_retailPrice,US_dateFirstAvailable,US_dateLastAvailable
0,1,10312,1,Jazz Club,2023,Icons,Model making,Modular Buildings Collection,Normal,1,...,Box,LEGO exclusive,9,18.0,NaN,"['18 Plus', 'Band', 'Baseplate', 'Bathroom', '...",2023-02-05T11:25:48.77Z,229.99,2022-12-15T00:00:00Z,NaN
1,2,10312,1,Jazz Club,2023,Icons,Model making,Modular Buildings Collection,Normal,1,...,Box,LEGO exclusive,9,18.0,NaN,"['18 Plus', 'Band', 'Baseplate', 'Bathroom', '...",2023-02-05T11:25:48.77Z,229.99,2022-12-15T00:00:00Z,NaN
2,3,10312,1,Jazz Club,2023,Icons,Model making,Modular Buildings Collection,Normal,1,...,Box,LEGO exclusive,9,18.0,NaN,"['18 Plus', 'Band', 'Baseplate', 'Bathroom', '...",2023-02-05T11:25:48.77Z,229.99,2022-12-15T00:00:00Z,NaN
3,4,10312,1,Jazz Club,2023,Icons,Model making,Modular Buildings Collection,Normal,1,...,Box,LEGO exclusive,9,18.0,NaN,"['18 Plus', 'Band', 'Baseplate', 'Bathroom', '...",2023-02-05T11:25:48.77Z,229.99,2022-12-15T00:00:00Z,NaN
4,5,10312,1,Jazz Club,2023,Icons,Model making,Modular Buildings Collection,Normal,1,...,Box,LEGO exclusive,9,18.0,NaN,"['18 Plus', 'Band', 'Baseplate', 'Bathroom', '...",2023-02-05T11:25:48.77Z,229.99,2022-12-15T00:00:00Z,NaN

In [31]:
data.pieces.std()

619.6998731768105

In [32]:
pieces = data.pieces

In [33]:
# normalize the pieces column
norm = pieces - pieces.mean()/pieces.std()
norm

0         2898.46485
1         2898.46485
2         2898.46485
3         2898.46485
4         2898.46485
             ...
199873       7.46485
199874       7.46485
199875       7.46485
199876       7.46485
199877       7.46485
Name: pieces, Length: 199878, dtype: float64

In [34]:
minmax = (pieces - pieces.min())/(pieces.max() - pieces.min())

In [35]:
minmax

0         0.247884
1         0.247884
2         0.247884
3         0.247884
4         0.247884
            ...
199873    0.000684
199874    0.000684
199875    0.000684
199876    0.000684
199877    0.000684
Name: pieces, Length: 199878, dtype: float64

In [36]:
data

,Record ID,number,numberVariant,name,year,theme,themeGroup,subtheme,category,released,...,packagingType,availability,instructionsCount,minAge,maxAge,tags,lastUpdated,US_retailPrice,US_dateFirstAvailable,US_dateLastAvailable
0,1,10312,1,Jazz Club,2023,Icons,Model making,Modular Buildings Collection,Normal,1,...,Box,LEGO exclusive,9,18.0,NaN,"['18 Plus', 'Band', 'Baseplate', 'Bathroom', '...",2023-02-05T11:25:48.77Z,229.99,2022-12-15T00:00:00Z,NaN
1,2,10312,1,Jazz Club,2023,Icons,Model making,Modular Buildings Collection,Normal,1,...,Box,LEGO exclusive,9,18.0,NaN,"['18 Plus', 'Band', 'Baseplate', 'Bathroom', '...",2023-02-05T11:25:48.77Z,229.99,2022-12-15T00:00:00Z,NaN
2,3,10312,1,Jazz Club,2023,Icons,Model making,Modular Buildings Collection,Normal,1,...,Box,LEGO exclusive,9,18.0,NaN,"['18 Plus', 'Band', 'Baseplate', 'Bathroom', '...",2023-02-05T11:25:48.77Z,229.99,2022-12-15T00:00:00Z,NaN
3,4,10312,1,Jazz Club,2023,Icons,Model making,Modular Buildings Collection,Normal,1,...,Box,LEGO exclusive,9,18.0,NaN,"['18 Plus', 'Band', 'Baseplate', 'Bathroom', '...",2023-02-05T11:25:48.77Z,229.99,2022-12-15T00:00:00Z,NaN
4,5,10312,1,Jazz Club,2023,Icons,Model making,Modular Buildings Collection,Normal,1,...,Box,LEGO exclusive,9,18.0,NaN,"['18 Plus', 'Band', 'Baseplate', 'Bathroom', '...",2023-02-05T11:25:48.77Z,229.99,2022-12-15T00:00:00Z,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199873,199874,4520,1,Curved Rails,1991,Trains,Modern day,9V,Normal,1,...,Box,Retail,0,NaN,NaN,"['9V', 'Electric', 'Track', 'Train Track']",2019-09-17T02:36:12.05Z,12.99,2007-10-24T00:00:00Z,2007-11-02T00:00:00Z
199874,199875,4520,1,Curved Rails,1991,Trains,Modern day,9V,Normal,1,...,Box,Retail,0,NaN,NaN,"['9V', 'Electric', 'Track', 'Train Track']",2019-09-17T02:36:12.05Z,12.99,2007-10-24T00:00:00Z,2007-11-02T00:00:00Z
199875,199876,4520,1,Curved Rails,1991,Trains,Modern day,9V,Normal,1,...,Box,Retail,0,NaN,NaN,"['9V', 'Electric', 'Track', 'Train Track']",2019-09-17T02:36:12.05Z,12.99,2007-10-24T00:00:00Z,2007-11-02T00:00:00Z
199876,199877,4520,1,Curved Rails,1991,Trains,Modern day,9V,Normal,1,...,Box,Retail,0,NaN,NaN,"['9V', 'Electric', 'Track', 'Train Track']",2019-09-17T02:36:12.05Z,12.99,2007-10-24T00:00:00Z,2007-11-02T00:00:00Z
199877,199878,4520,1,Curved Rails,1991,Trains,Modern day,9V,Normal,1,...,Box,Retail,0,NaN,NaN,"['9V', 'Electric', 'Track', 'Train Track']",2019-09-17T02:36:12.05Z,12.99,2007-10-24T00:00:00Z,2007-11-02T00:00:00Z

In [37]:
data.pieces = minmax

In [59]:
data['piecesStandardized'] = norm

In [62]:
norm

0         2898.46485
1         2898.46485
2         2898.46485
3         2898.46485
4         2898.46485
             ...
199873       7.46485
199874       7.46485
199875       7.46485
199876       7.46485
199877       7.46485
Name: pieces, Length: 199878, dtype: float64

In [ ]:
# delete category and packaging type columns from dataframe

In [42]:
data.drop(['category','packagingType'], axis=1, inplace=True)

In [61]:
data.iloc[0:10,:]

,Record ID,number,numberVariant,name,year,theme,themeGroup,subtheme,released,pieces,...,availability,instructionsCount,minAge,maxAge,tags,lastUpdated,Price,US_dateFirstAvailable,US_dateLastAvailable,piecesStandardized
0,1,10312,1,Jazz Club,2023,Icons,Model making,Modular Buildings Collection,1,0.247884,...,LEGO exclusive,9,18.0,NaN,"['18 Plus', 'Band', 'Baseplate', 'Bathroom', '...",2023-02-05T11:25:48.77Z,229.99,2022-12-15T00:00:00Z,NaN,2898.46485
1,2,10312,1,Jazz Club,2023,Icons,Model making,Modular Buildings Collection,1,0.247884,...,LEGO exclusive,9,18.0,NaN,"['18 Plus', 'Band', 'Baseplate', 'Bathroom', '...",2023-02-05T11:25:48.77Z,229.99,2022-12-15T00:00:00Z,NaN,2898.46485
2,3,10312,1,Jazz Club,2023,Icons,Model making,Modular Buildings Collection,1,0.247884,...,LEGO exclusive,9,18.0,NaN,"['18 Plus', 'Band', 'Baseplate', 'Bathroom', '...",2023-02-05T11:25:48.77Z,229.99,2022-12-15T00:00:00Z,NaN,2898.46485
3,4,10312,1,Jazz Club,2023,Icons,Model making,Modular Buildings Collection,1,0.247884,...,LEGO exclusive,9,18.0,NaN,"['18 Plus', 'Band', 'Baseplate', 'Bathroom', '...",2023-02-05T11:25:48.77Z,229.99,2022-12-15T00:00:00Z,NaN,2898.46485
4,5,10312,1,Jazz Club,2023,Icons,Model making,Modular Buildings Collection,1,0.247884,...,LEGO exclusive,9,18.0,NaN,"['18 Plus', 'Band', 'Baseplate', 'Bathroom', '...",2023-02-05T11:25:48.77Z,229.99,2022-12-15T00:00:00Z,NaN,2898.46485
5,6,10312,1,Jazz Club,2023,Icons,Model making,Modular Buildings Collection,1,0.247884,...,LEGO exclusive,9,18.0,NaN,"['18 Plus', 'Band', 'Baseplate', 'Bathroom', '...",2023-02-05T11:25:48.77Z,229.99,2022-12-15T00:00:00Z,NaN,2898.46485
6,7,10411,1,Learn About Chinese Culture,2023,Duplo,Pre-school,Seasonal,1,0.010603,...,Retail,4,2.0,NaN,"['Asia', 'Baked Goods', 'Bamboo', 'Bear', 'Boo...",2022-11-07T15:41:45.67Z,69.99,2022-11-06T00:00:00Z,NaN,123.46485
7,8,10411,1,Learn About Chinese Culture,2023,Duplo,Pre-school,Seasonal,1,0.010603,...,Retail,4,2.0,NaN,"['Asia', 'Baked Goods', 'Bamboo', 'Bear', 'Boo...",2022-11-07T15:41:45.67Z,69.99,2022-11-06T00:00:00Z,NaN,123.46485
8,9,10411,1,Learn About Chinese Culture,2023,Duplo,Pre-school,Seasonal,1,0.010603,...,Retail,4,2.0,NaN,"['Asia', 'Baked Goods', 'Bamboo', 'Bear', 'Boo...",2022-11-07T15:41:45.67Z,69.99,2022-11-06T00:00:00Z,NaN,123.46485
9,10,10411,1,Learn About Chinese Culture,2023,Duplo,Pre-school,Seasonal,1,0.010603,...,Retail,4,2.0,NaN,"['Asia', 'Baked Goods', 'Bamboo', 'Bear', 'Boo...",2022-11-07T15:41:45.67Z,69.99,2022-11-06T00:00:00Z,NaN,123.46485

In [51]:
data.rename(columns={"US_retailPrice": "Price"}, inplace=True) #change name to price

In [58]:
data.describe()

,Record ID,number,numberVariant,year,released,pieces,minifigs,instructionsCount,minAge,maxAge,Price,piecesStandardized
count,199878.00000,1.998780e+05,199878.000000,199878.000000,199878.0,187620.000000,152563.000000,199878.000000,177173.000000,69189.000000,199878.000000,187620.000000
mean,99939.50000,5.694679e+04,3.657726,2015.494522,1.0,0.028357,2.703205,2.211554,6.438052,13.343711,34.732817,331.097032
std,57699.95289,1.909828e+05,5.246132,4.039033,0.0,0.052988,2.604791,2.545528,2.721790,11.158097,56.910127,619.699873
min,1.00000,6.200000e+02,0.000000,1991.000000,1.0,0.000000,1.000000,0.000000,1.000000,3.000000,1.990000,-0.535150
25%,49970.25000,8.805000e+03,1.000000,2011.000000,1.0,0.000770,1.000000,0.000000,5.000000,12.000000,3.990000,8.464850
50%,99939.50000,4.132500e+04,1.000000,2016.000000,1.0,0.010859,2.000000,2.000000,6.000000,12.000000,15.990000,126.464850
75%,149908.75000,7.101300e+04,3.000000,2019.000000,1.0,0.033006,4.000000,3.000000,7.000000,14.000000,39.990000,385.464850
max,199878.00000,5.007851e+06,24.000000,2023.000000,1.0,1.000000,28.000000,48.000000,18.000000,99.000000,849.990000,11694.464850

In [63]:
# extract subset of data and save as separate csv
data = data[['Record ID',
            'year',
            'piecesStandardized',
            'Price',
            'name']]

In [64]:
data

        Record ID  year  piecesStandardized   Price          name
0               1  2023          2898.46485  229.99     Jazz Club
1               2  2023          2898.46485  229.99     Jazz Club
2               3  2023          2898.46485  229.99     Jazz Club
3               4  2023          2898.46485  229.99     Jazz Club
4               5  2023          2898.46485  229.99     Jazz Club
...           ...   ...                 ...     ...           ...
199873     199874  1991             7.46485   12.99  Curved Rails
199874     199875  1991             7.46485   12.99  Curved Rails
199875     199876  1991             7.46485   12.99  Curved Rails
199876     199877  1991             7.46485   12.99  Curved Rails
199877     199878  1991             7.46485   12.99  Curved Rails

[199878 rows x 5 columns]

In [67]:
data.groupby('piecesStandardized')['Price'].describe()

,count,mean,std,min,25%,50%,75%,max
piecesStandardized,,,,,,,,
-0.53515,299.0,4.990000,7.117339e-15,4.99,4.99,4.99,4.99,4.99
0.46485,1982.0,23.109415,3.239329e+01,2.49,6.99,13.99,29.99,224.95
1.46485,205.0,29.160732,5.764449e+01,6.99,14.99,14.99,14.99,249.99
2.46485,13.0,15.297692,1.523912e+01,6.99,6.99,6.99,9.99,41.99
3.46485,618.0,3.611359,2.536412e+00,2.99,2.99,2.99,2.99,24.99
...,...,...,...,...,...,...,...,...
7540.46485,59.0,849.990000,2.293254e-13,849.99,849.99,849.99,849.99,849.99
9035.46485,24.0,549.990000,1.161320e-13,549.99,549.99,549.99,549.99,549.99
9089.46485,17.0,679.990000,1.171857e-13,679.99,679.99,679.99,679.99,679.99
10000.46485,3.0,629.990000,0.000000e+00,629.99,629.99,629.99,629.99,629.99
11694.46485,25.0,249.990000,1.450389e-13,249.99,249.99,249.99,249.99,249.99